<html>

<body>
    <!-- <form name=“ form” action="{% url 'index' %}" method="POST">{% csrf_token %}
        <div style=“ max-width:460px;”>
            <center>
                <input type="text" style="margin-left:1%;" placeholder="Username" name="username" />
            </center>
        </div>
        <br>


        <div style=“ max-width:460px;”>
            <center>
                <input type="password" style="margin-left:1%;" placeholder="password" name="password" />
            </center>
        </div>
        <br>
        <div style=“ max-width:460px;”>
            <center>
                <button style=“ border:0px; background-color:#4285F4; margin-top:9%; height:36px; width:79%;margin-left:20%;” type=“ submit” value=“ Login”>
    <strong>Login</strong>
    </button>
            </center>
        </div>
    </form> -->
    <p>
        {{ username }}
    </p>
</body>

</html>